page-contact{
	.btn-cart {
		span.count {
            display: inline-block;
			font-size: 13px;
			position: relative;
			top: -4px;
			left: 3px;
			text-align: center;
			line-height: 18px;
		}
	}
	.card-header-ios {
	    text-align: center;
	}

	.search-bar{
		background: #a48255;
	}

	.search-bar > button {
        position: absolute;
	    color: #fff;
	    border-color: #fff;
	    top: 3px;
	    right: 10px;
	    height: 30px;
	}

	.searchbar-ios {
	    background: #a48255;
	    width: calc(100% - 90px);
	}
	.contact-whatsapp {
		text-align: center;
	}

	.contact-whatsapp img.app-logo {
		width: auto;
		height: 65px;
	}

	.contact-whatsapp > a {
		display: inline-block;
	}

	.divider-1 {
		background: #ccc;
		height: 2px;
		position: relative;
	    margin: 15px 0;
	}
	
	.divider-1  > span {
		position: absolute;
		width: 35px;
		height: 30px;
		top: -8px;
		z-index: 9;
		left: 50%;
		transform: translateX(-50%);
		background: #fff;
		text-align: center;
	}
}