<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>853331407639-dvfrckdsck2m0mf5hqvci6v7gn1gp048.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853331407639-dvfrckdsck2m0mf5hqvci6v7gn1gp048</string>
	<key>API_KEY</key>
	<string>AIzaSyB44YLyYeQ51ebNg3EYY6bKpXv68l127rE</string>
	<key>GCM_SENDER_ID</key>
	<string>853331407639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eventos.eventit</string>
	<key>PROJECT_ID</key>
	<string>eventit-bcd5e</string>
	<key>STORAGE_BUCKET</key>
	<string>eventit-bcd5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853331407639:ios:0c07c880637a55ca</string>
	<key>DATABASE_URL</key>
	<string>https://eventit-bcd5e.firebaseio.com</string>
</dict>
</plist>