page-payment{

	.card-payment{
		.item{
			padding: 0;

			.item-inner {
			    padding-right: 0 !important;
			}

			.radio {
			    margin: 0;
			    border: 1px solid #eee;
    			padding: 0 4px 0 2px;
			    border-radius: 3px;
			}

			.item-cover {
			    padding: 0;
			}

		}
	}

	.bank-details {
	    border: 1px solid #ccc;
	    padding: 8px 5px;
	    margin-bottom: 9px;

	    > img {
		    width: 50px;
		    border-radius: 50%;
		    float: left;
		}

		> div {
		    padding-left: 55px;

		    > span {
			    font-size: 18px;
			}

			> p {
				font-size: 16px;
				> span {
				    display: block;
				    font-size: 18px;
				}
			}
		}

		&:after {
		    display: block;
		    content: " ";
		    clear: both;
		}

	}

	small.note-light {
	    font-size: 13px;
	}

}