page-wp-page{
	.search-bar{
		background: #a48255;
	}

	.search-bar > button {
        position: absolute;
	    color: #fff;
	    border-color: #fff;
	    top: 3px;
	    right: 10px;
	    height: 30px;
	}

	.searchbar-ios {
	    background: #a48255;
	    width: calc(100% - 90px);
	}

	.btn-cart {
		span.count {
            display: inline-block;
			font-size: 13px;
			position: relative;
			top: -4px;
			left: 3px;
			text-align: center;
			line-height: 18px;
		}
	}
	.privacy-policy > h5,
	.terms-conditions > h5 {
	    font-size: 2rem;
	    margin-top: 10px;
	    color: #222;
	}
	.privacy-policy,
	.terms-conditions {
	    color: #666;
	}
}