celebrities-services{
    .checkbox-btn{
        background: transparent;
    }
    p.service-price {
        font-weight: bold;
        color: #666;
    }
    .no-result{
    	text-align: center;
    }
}
